<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <footer>
    <div class="menu">

        <p class="copyright"><a class="nav-link" href="/forum"><i class="far fa-calendar-alt"></i> Contact us @2025</a></p>
        
    </div>
      </footer>

</body>
</html>