<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Herbrarium</title>
</head>
<body>
    <nav></div class="header">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plantArchive"><i class="far fa-clone"></i>Plant Archive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plantNews"><i class="far fa-calendar-alt"></i>Articles</a>
        </li>
        
      </ul>
    </div></nav>
</body>
</html>