<%- include("partials/header.ejs") %>


<div class="plant_archive_container ">
<img class="plant_archive_img" src="/images/about_page.jpg" alt="green plants">
</div>
<h2 class="about_h2">Info page</h2>
<div class="about_info"> 
    <h3>Do you have any questions?</h3>
    <h3>Do you have some exciting idieas for developing our page or maybe you found some kind of error?<h3>
    <h3>This is the correct place for all of the above.</h3>

    <h3>Contact us via email:</h3>
    <p>herbrariumproject345@gmail.com</p>
    <h3>We will get back to you in No time. We await your email!!</h3>
    </h3>

</div>
<%- include("partials/footer.ejs") %>